<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEXP</title>
    <link rel="stylesheet" href="/assets/index.css">
  </head>
  <body>
    <div class="searchBar">
      <div class="stats">Total documents: {{.TotalDocs}}</div>
      <div class="form">
        <input type="search" id="query" class="input" placeholder="Search"/>
        <button id="search" class="searchButton">Go!</button>
      </div>
    </div>
    <div class="results" id="results">
    </div>
    <script>
      function fetchResults() {
        const query = document.getElementById('query').value;
        fetch(`/search?query=${encodeURIComponent(query)}`)
          .then(response => response.json())
          .then(data => {
            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = ''; 
            console.log(data)
            data.sort((a,b) => b.score - a.score);
            data.forEach((result) => {
              if (result.score != 0) {
                const resultDiv = document.createElement('div');
                resultDiv.classList.add('result');

                a = document.createElement(`a`)
                a.href = `file:///${result.filepath}`;
                a.textContent = result.filepath

                score = document.createElement("div");
                score.textContent = result.score

                time = document.createElement("div");
                time.textContent = result.indexedAt

                checksum = document.createElement("div");
                checksum.textContent = result.checksum

                resultDiv.appendChild(a);
                resultDiv.appendChild(score);
                resultDiv.appendChild(time);
                resultDiv.appendChild(checksum)

                resultsDiv.appendChild(resultDiv);
              }
            })
          })
        .catch(error => console.error('Error fetching data:', error));
      }
      document.getElementById('search').addEventListener('click', fetchResults);
      document.getElementById('query').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
          fetchResults();
        }});
    </script>
  </body>
</html>
